{extend name="layout"}
{block name="center-content"}
<!--PC和WAP自适应版-->
<div id="SOHUCS" sid="leave" ></div>
<script type="text/javascript">
    (function(){
        var appid = 'cyua9h4OO';
        var conf = 'prod_ff4255e97dccc2499bfbdfb9c0c0d933';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
{/block}

{block name="sidebar"}
    <div class="card hot">
        <section>
            <p>热门文章</p>
            <ul>
                <li><span>1.</span><a href="#">奇怪的声音</a></li>
                <li><span>2.</span><a href="#">奇怪的声音</a></li>
                <li><span>3.</span><a href="#">奇怪的声音</a></li>
                <li><span>4.</span><a href="#">奇怪的声音</a></li>
                <li><span>5.</span><a href="#">奇怪的声音</a></li>
                <li><span>6.</span><a href="#">奇怪的声音</a></li>
                <li><span>7.</span><a href="#">奇怪的声音</a></li>
            </ul>
        </section>
    </div>

    <div class="card tags">

    </div>

    <div class="card leave">

    </div>
{/block}