{extend name="admin_layout"}

{block name="headerExtend"}
{assign name="cmmenuactive" value="article" /}

{/block}


{block name="center-content"}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li role="presentation" ><a href="#">文章管理</a></li>
                <li role="presentation" class="active"><a href="#">草稿管理</a></li>
            </ul>

            <div >

            </div>

        </div>
    </div>
</div>
{/block}


{block name="footExtend"}

{/block}